{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <form method="POST">
      {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="name">Title</label>
      <input name="title" type="text" class="form-control" placeholder="Title">
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Description</label>
      <textarea class="form-control" name="description" placeholder="Enter you message" rows="3">

      </textarea>
    </div>
    <button type="submit" class="btn btn-outline-success">
      Submit
    </button>
    </form>
    {% endblock %}

<!-- Принцип Dr -->